#OS junk files
[Tt]humbs.db
*.DS_Store

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

#Temp files
~$*

#Private files
.env

#Node modules
node_modules/

#SQLite files
*.sqlite
*.sqlite-shm
*.sqlite-wal